.body {
  max-width: 1280px;
  width: 100%;
}

.home {
  margin: 100px 0;
}

.home__movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  align-items: center;
}

.home__btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  background-color: #e3e3e3;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  z-index: 5;
}

.visible {
  pointer-events: auto;
}

.home__icon {
  padding: 9px 13px;
  width: 27px;
  height: 36px;
  font-size: 25px;
}

@media screen and (max-width: 1280px) {
  .body {
    max-width: 1025px;
  }
}

@media screen and (max-width: 1025px) {
  .body {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .body {
    max-width: 481px;
  }

  .home__movies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
